<%-include('partials/header.ejs')%>


<div class="row">
    <div class="col s12 m12">
        <div class="card blue-grey darken-3">
            <div class="card-action">
                <a href="/">Back to the Map</a>
            </div>
            <div class="card-content white-text" align="center">

                <i class="large material-icons">account_circle</i>
                <span class="card-title">
                    <%= username %></span>
                    <a href="#">
                        <%= email %></a>
                        <h6>Niveau <% if (locals.xp && xp.length>2) {  %>
                            <%=+xp.slice(0,xp.length-2)+1%> 
                            <% } else { %>
                            1
                            <% } %></h6>
                            <div class="progress">
                                <div class="determinate" style="width: <% if (locals.xp && xp.length>2) { -%>
                                    <%=xp.slice(xp.length-2,xp.length)%>%"></div>
                                    <% }else{ -%>
                                    <%=xp%>%"></div>
                                    <% } %>
                                </div>
                            </div>

                            <div class="collection">
                                <a href="#!" class="collection-item"><span class="badge">1</span>Parcours 1</a>
                                <a href="#!" class="collection-item"><span class="new badge">4</span>Parcours 2</a>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Bouton flottant de modification info user-->
                <div class="fixed-action-btn">
                    <!-- Modal Trigger -->
                    <a class="btn-floating btn-large red waves-effect waves-light btn modal-trigger" data-target="modal1">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Modifier vos informations</h4>
                            <!--Text input -->
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                                            <label for="first_name">Nom ou Pseudo</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="password" type="password" class="validate">
                                            <label for="password">Mot de passe</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" type="email" class="validate">
                                            <label for="email">E-mail</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn-flat btn-floating green"><i class="material-icons">publish</i></a>
                                </div>
                                <!--<a class="btn-floating green"><i class="material-icons">publish</i></a>-->
                            </div>


                            <script>
        //Ouverture du modal en utilisant un déclencheur :
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });
    </script>



    <%-include('partials/footer.ejs')%>