<%-include('partials/header.ejs')%>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<link rel="stylesheet" href="leaflet-compass.css" />
<link rel="stylesheet" href="stylemap.css">
<meta name="theme-color" content="#00ab9a">
<title>Map</title>
</head>
<body>
    <div id="map">
        <!-- emplacement de la map -->

        <!-- emplacement des boutons -->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large green" href="/dashboard">
              <i class="large material-icons">account_circle</i>
          </a>
      </div>
      <!-- bouton pour le tracking -->
      <div class="fixed-action-btn fixed-action-btn-2">
        <a class="btn-floating btn-small green" onClick="switchTracking()">
          <i class="large material-icons" id="bt-gps">gps_fixed</i>
      </a>
  </div>
</div>
<% listpoi.forEach(function(poi){ %>
<!-- Modal Activité idPOI ! -->
<div id="act<%=poi.idPOI%>" class="modal">
    <div class="modal-content">
        <h6><%=poi.title%></h6>
        <p><%=poi.des%></p>
        <% if (poi.img !="") {%>
        <img class="img-title-act"  imgsrc= "/img/<%=poi.img%>">
        <% } %>
        <div class="row">
            <form action="/act/<%=poi.idPOI%>" class="col s12 m4 offset-m4" method="POST">
                <% listresp.forEach(function(resp){ %>
                <% if(resp.idActivity == poi.idActivity){ %>
                <div class="input-field">
                    <p>
                        <label>
                            <% if(resp.valid ==1) {%>
                            <input type="radio" name="answer" id="<%=resp.caption%>" value="<%=poi.xpAmount%>">
                            <% }else{ %>
                            <input type="radio" name="answer" id="<%=resp.caption%>" value="0">
                            <% } %>
                            <span><%=resp.caption%></span>
                        </label>
                    </p>
                </div>
                <% } %>
                <% }) %>
                <% if(poi.idActivity == 2){ %>
                <!-- l'activité 2 est un peu différente -->
                <div class="input-field">
                    <p>
                        <input type="hidden" name="answer" value="<%=poi.xpAmount%>">
                    </p>
                </div>
                <% } %>
                <div class="modal-footer">
                    <button type="submit" class="modal-close waves-effect waves-green btn-flat btn-floating green"><i class="material-icons">publish</i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<% }); %>
<div id="actidisabled" class="modal">
    <div class="modal-content">
     <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="img/Hibou1.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
              <p>Nous sommes désolé mais tu as déjà fini cette activité !</p>
          </div>
      </div>
  </div>
</div>
</div>
</div>
<div id="faraway" class="modal">
    <div class="modal-content">
     <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="img/Hibou1.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>Nous sommes désolé mais tu es trop éloigné de ce point pour lancer l'activité !</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous" ></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin="" ></script>
<script src="/leaflet-compass.js" ></script>
<script type="text/javascript" >
    var done=[];
    <% tabdone.forEach(function(done){ %>
        done.push(<%=done.idPOI%>);
        <% }) %> 
        //variable pour le suivi ou non de l'utilisateur
        var tracking = true;
        //creation de l'icone personnalisée pour le personnage
        var myIcon = L.icon({
            iconUrl: './img/HibouMarker.png',
            iconSize: [37, 51],
            iconAnchor: [17, 47]
        });
        //creation des variations de couleurs d'icones
        var greenIcon = new L.Icon({
            iconUrl: '/img/marker-icon-2x-green.png',
            shadowUrl: '/img/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
        var redIcon = new L.Icon({
            iconUrl: '/img/marker-icon-2x-red.png',
            shadowUrl: '/img/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
        var greyIcon = new L.Icon({
            iconUrl: '/img/marker-icon-2x-grey.png',
            shadowUrl: '/img/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        //creation des POIs
        var grpPOI1=[];
        var grpPOI2=[];
        //pour chaque POI on crée le marqueur associé et on lui assigne une icone correspondant à greenIcon ou redIcon
        //et on l'ajoute à un tableau grpPOI (1 ou 2 suivant le parcours)
        <% listpoi.forEach(function(poi){ %>
            if (done.includes(<%=poi.idPOI%>)){
                //si le POI a deja été fait on le met en gris
                var POI<%=poi.idPOI%> = new L.marker([<%=poi.lat%>, <%=poi.lon%>],{icon: greyIcon}).bindPopup("<%=poi.titlePOI%><br><%=poi.descPOI%>").on('click',isNear);
            }else{
                //s'il n'a pas été fait on le met de la bonne couleur (celle de son activité)
                var POI<%=poi.idPOI%> = new L.marker([<%=poi.lat%>, <%=poi.lon%>],{icon: <%=listjourney[(poi.idJourney)-1].color%>Icon}).bindPopup("<%=poi.titlePOI%><br><%=poi.descPOI%>").on('click',isNear);
            }
                grpPOI<%=poi.idJourney%>.push(POI<%=poi.idPOI%>);
            <% }); %>
        //transforme les tableaux de POI en layers de POI
        var layerPOI1 = L.layerGroup(grpPOI1);
        var layerPOI2 = L.layerGroup(grpPOI2);
        //initialise une map avec les layers de POI
        var mymap = L.map('map', {layers: [layerPOI1,layerPOI2]} ).setView([43.107895, 0.723579], 18);
        L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',{maxZoom: 21,attribution: 'Saint-GO',}).addTo(mymap);
        
        //Gestion des layer control (filtre)
        var baseLayers = {
            "Jeu de Piste 6/8ans": layerPOI1,
            "Jeu de Piste 9/11ans": layerPOI2,
        };
        //on crée les controles pour les layers sur l'écran de la map en bas à gauche
        L.control.layers(null,baseLayers, {position: 'bottomleft', collapsed: true}).addTo(mymap);
        //Fonction qui va checker la position du joueur et du point d'interet
        function isNear(e){
            var f = this;
            id = this._leaflet_id;
            function maPosition(position) {
                var lat = position.coords.latitude ;
                var long = position.coords.longitude;
                var dom = '#act'+id;
                if(done.includes(id)){
                    $('#actidisabled').modal();
                    $('#actidisabled').modal('open');
                }
                else if(mymap.distance(f.getLatLng(),[lat,long])<1550){
                    $(dom).modal();
                    console.log ($(dom+" > .modal-content > .img-title-act").attr("imgsrc"));
                    $(dom+" > .modal-content > .img-title-act").attr("src",$(dom+" > .modal-content > .img-title-act").attr("imgsrc"));
                    $(dom).modal('open');
                }
                else {
                    $('#faraway').modal();
                    $('#faraway').modal('open');
                }
            }
            if(navigator.geolocation)
                navigator.geolocation.getCurrentPosition(maPosition);
        }

        var comp = new L.Control.Compass({position : 'topleft', autoActive: true, showDigit:true});
        mymap.addControl(comp);

        //fonction qui sera appelée toutes les secondes pour update la position de l'utilisateur
        function GetPosMap(){
            //console.log(mymap.distance(POI1.getLatLng(),POI2.getLatLng()));
            // récupération de la position de l'utilisateur
            var lat,long;
            function maPosition(position) {
                lat = position.coords.latitude ;
                long = position.coords.longitude;
                if (typeof markerChar !== 'undefined'){
                    mymap.removeLayer(markerChar)
                }
                // affichage de la map
                markerChar = new L.Marker([lat, long], {icon: myIcon, draggable:false});
                mymap.addLayer(markerChar);
                //si le tracking est activé, on centre la vue sur l'utilisateur
                if (tracking){
                    mymap.setView([lat,long]);
                }
            }

            if(navigator.geolocation)
                navigator.geolocation.getCurrentPosition(maPosition);
            
        }
        //switch entre les  états de traking
        function switchTracking(){
            tracking=!tracking;
            console.log("tracking : "+tracking);
            var el = document.getElementById("bt-gps");
            if (tracking){
                // recup le dom du bouton gps et mettre innerHTML à gps_fixed
                el.innerHTML="gps_fixed";
            }else{
                // recup le dom du bouton gps et mettre innerHTML à gps_not_fixed
                el.innerHTML="gps_not_fixed";
            }
        }
        //le set interval qui lance le refresh de la position toutes les secondes
        var intervalID = window.setInterval(GetPosMap, 1000);
        //Ouverture modal 1
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });
    </script>
    <%-include('partials/footer.ejs')%>